
.container {
    display: grid;
    /* value shall be track size */
    grid-template-columns: [col-asie] 500px [col-middle] 400px [col-right] 1fr [col-end];
    /* First & second row will be 100px height and remaining row height will be auto. */
    grid-template-rows:500px;

    /*
    justify-items: stretch;
    align-items: stretch;
    justify-content: start;
    */
  
    /* row column*/
    gap: 100px;
    /* the element in container can be placed at - start, end, space-around */
    /*align-content: space-around;*/
    /* possible values are column/row/dense */
    grid-auto-flow: row;

    /* place item horizontally and vertically within a cell - this combines both align-items & justify-items */
    /*place-items: <align items> <justify items>;*/
  
    /* place-content is a short hand property of align-content (vertically) & justify-content(horizontally) */
    /*place-content: ;*/
    /* align item vertically within a cell */
    //align-items: center;
    /* align item horizontallly within a cell*/
    place-items: center center;
  }

  .item {
    border: 1px solid #222222;
    text-align:left;
    box-shadow: 1px 2px 3px grey;
    border-radius: 8px;
    /*color: #2222;*/
    color: black;
    font-size: 1em;
    font-family: arial, sans-serif;
    /*background-color: #F9D423;*/
    /*font-weight: bold;*/
  }

.login-logo{
    grid-column: col-middle/col-right;
    padding: 40px 80px 45px 0;
  }
  
  .login-card {
    /* min-width: 200px; */
    width: 35%;
    margin: 5px auto;
    margin-top: 60px;
    text-align: left;
    min-width: 400px;
    max-width: 400px;
    padding: 36px 32px 86px 40px;
  }
  
  .logo-image-sm {
    height: 80px;
    width: 130px;
    margin-left: 120px;
    /* border: 1px solid red; */
  }

  .app-name{
    height: 100%;
    width: 100%;
    color: #2E843B;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.12px;
    line-height: 22px;
    padding-top: 16px;
  }

  input[type="text"], [type="password"] {
    width:100%;
    border: 1px solid #222222;
    text-align:left;
    border-radius: 10px;
  }

  .elm {
      margin:20px;
  }

  button {
    border-radius: 20px;

  }