<table class="styled-table">
    <thead>
        <tr>
            <th>Serial No.</th>
            <th>Shipment No</th>
            <th>ALT REF No</th>
            <th>Sender Reference No</th>
            <th>Created By</th>
            <th>Created On</th>
            <th>Service</th>
            <th>Recipient</th>
            <th>Location</th>
            <th>Country</th>
            <!--
            <th>Account Code</th>
            <th>Sender Name</th>
            <th>Sender Country</th>
            <th>Sender Address</th>
            <th>Sender City</th>
            <th>Sender State</th>
            <th>Sender Postal Code</th>
            <th>Sender Contact</th>
            <th>Sender Phone</th>
            <th>Sender email</th>

            <th>Service</th>
            <th>No Of Items</th>
            <th>Description</th>
            <th>Goods Value</th>
            <th>Custom Value</th>
            <th>Weight</th>
            <th>Weight Unit</th>
            <th>Cubic Weight(LxWxH)</th>
            <th>COD Amount</th>
            <th>Currency</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of shInfo; let idx = index;">
            <td>{{idx}}</td>
            <td>{{s.shipmentNo}}</td>
            <td>{{s.altRefNo}}</td>
            <td>{{s.referenceNo}}</td>
            <td>{{s.createdBy}}</td>
            <td>{{s.createdOn}}</td>
            <td>{{s.service}}</td>
            <td>{{s.receiverName}}</td>
            <td>location to be updated</td>
            <td>{{s.receiverCountry}}</td>
            <!--
            <td>{{s.accountCode}}</td>
            <td>{{s.name}}</td>
            <td>{{s.country}}</td>
            <td>{{s.address}}</td>
            <td>{{s.city}}</td>
            <td>{{s.state}}</td>
            <td>{{s.postalCode}}</td>
            <td>{{s.contact}}</td>
            <td>{{s.phone}}</td>
            <td>{{s.email}}</td>
            <td>{{s.service}}</td>
            <td>{{s.noOfItems}}</td>
            <td>{{s.description}}</td>
            <td>{{s.goodsValue}}</td>
            <td>{{s.customValue}}</td>
            <td>{{s.weight}}</td>
            <td>{{s.weightUnit}}</td>
            <td>{{s.cubicWeight}}</td>
            <td>{{s.codAmount}}</td>
            <td>{{s.currency}}</td> -->
        </tr>
        <!-- and so on... -->
    </tbody>
</table>