<form [formGroup]="shipmentListForm" (ngSubmit)="onSubmit()" class="subcontainer">
<div class="heading">
    <u><i><label>Shipment List</label></i></u>
</div>
<div><label >From Date </label></div>
<div><input type="date" class="content-item " formControlName="fromDate" ></div>
<div></div>
<div></div>
<div><label>To Date </label></div>
<div><input type="date" class="content-item " formControlName="toDate" ></div>
      
<div></div>
<div></div>
<div class="content-item btn-default ml-10">
    <button type="submit">Submit</button>
</div>
<div class="content-item btn-default w-50">
    <button type="reset">Clear Contents</button>
</div>	
</form>

<app-display-shipment-list *ngIf="m_displayList === 'true'"></app-display-shipment-list>