<form [formGroup]="deliveredReportingForm" (ngSubmit)="onSubmit()" class="subcontainer">
<div class="heading">
    <u><i><label>Successfully Delivered Shipment Reporting</label></i></u>
</div>
<div><label>Courier Charge </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="cc" value="" required></div>
<div><label>COD </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="cod" value="" required></div>
<div><label>RTO Amount </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="rtoAmount" value="" required></div>
<div><label>AWB Bill </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="awbNo" value=""></div>

<div class="heading">
    <u><i><label> OR </label></i></u>
</div>
<div><label>Import From Excel </label></div>
<div><input type="file" class="content-item bg-color-yellow" formControlName="batchImport" value=""></div>

<div></div>
<div></div>
<div class="content-item btn-default ml-10">
    <button type="submit">Submit</button>
</div>
<div class="content-item btn-default w-50">
    <button type="reset">Clear Contents</button>
</div>	
</form>