<div class="table-container">
<table class="styled-table">
    <thead>
        <tr>
            <th>Tracking Number</th>
            <th>Status</th>
            <th>Delivery Information</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let s of _shipmentList.m_shipmentArray; let idx = index;">
            <td>{{s.shipmentNo}}</td>
            <ng-container *ngIf="get_lastStatus(s.activity) === 'Proof of Delivery'">
                <td>{{status}}</td>
                <td>Delivered On: {{deliveredOn}}<br>
                    Destination: {{s.receiverCity}} - {{s.receiverCountry}}<br>
                    Signed By: {{notes}} <br>
                    ServiceType: {{s.service}}</td>

            </ng-container>
            <ng-container *ngIf="!(status === 'Proof of Delivery')">
                <td>{{status}}</td>
                <td>Destination: {{s.receiverCity}} - {{s.receiverCountry}}<br>
                    ServiceType: {{s.service}}</td>

            </ng-container>
            <td>To be Updated</td>
            <!--
            <td>{{s.createdOn}}</td>
            <td>{{s.service}}</td>
            <td>{{s.receiverName}}</td>
            <td>location to be updated</td>
            <td>{{s.receiverCountry}}</td>
            <td>{{s.accountCode}}</td>
            <td>{{s.name}}</td>
            <td>{{s.country}}</td>
            <td>{{s.address}}</td>
            <td>{{s.city}}</td>
            <td>{{s.state}}</td>
            <td>{{s.postalCode}}</td>
            <td>{{s.contact}}</td>
            <td>{{s.phone}}</td>
            <td>{{s.email}}</td>
            <td>{{s.service}}</td>
            <td>{{s.noOfItems}}</td>
            <td>{{s.description}}</td>
            <td>{{s.goodsValue}}</td>
            <td>{{s.customValue}}</td>
            <td>{{s.weight}}</td>
            <td>{{s.weightUnit}}</td>
            <td>{{s.cubicWeight}}</td>
            <td>{{s.codAmount}}</td>
            <td>{{s.currency}}</td> -->
        </tr>
        <!-- and so on... -->
    </tbody>
</table>
</div>