
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="box">
    <button (click)="generatePdf('A6')">
    <i class="fa fa-print" style="font-size:24px; margin-right: 5px"></i>A6
    </button>
    <button (click)="generatePdf('A4')">
    <i class="fa fa-print" style="font-size:24px; margin-right:5px"></i>A4
    </button>
    <!--
    <button (click)="onDeleteAWB()">
    <i class="fa fa-minus-circle" style="font-size:24px; margin-right: 5px;" ></i> Delete AWB
    </button>-->
</div>
<div class="table-container">
<table class="styled-table">
    <thead>
        <tr>
            <th>Tracking Number</th>
            <th>Status</th>
            <th>Delivery Information</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let s of _shipmentList.m_shipmentArray; let idx = index;">
            <td>{{s.shipmentNo}}</td>
            <ng-container *ngIf="s.activity[s.activity.length - 1].event === 'Proof of Delivery'">
                <td>{{s.activity[s.activity.length-1].event}}</td>
                <td>Delivered On: {{s.activity[s.activity.length -1].date}} : {{s.activity[s.activity.length - 1].time}}<br>
                    Destination: {{s.receiverCity}} - {{s.receiverCountry}}<br>
                    Signed By: {{s.activity[s.activity.length - 1].notes}} <br>
                    ServiceType: {{s.service}}</td>

            </ng-container>
            <ng-container *ngIf="!(s.activity[s.activity.length - 1].event === 'Proof of Delivery')">
                <td>{{s.activity[s.activity.length-1].event}}</td>
                <td>Destination: {{s.receiverCity}} - {{s.receiverCountry}}<br>
                    ServiceType: {{s.service}}</td>

            </ng-container>
            <td>To be Updated</td>
            <!--
            <td>{{s.createdOn}}</td>
            <td>{{s.service}}</td>
            <td>{{s.receiverName}}</td>
            <td>location to be updated</td>
            <td>{{s.receiverCountry}}</td>
            <td>{{s.accountCode}}</td>
            <td>{{s.name}}</td>
            <td>{{s.country}}</td>
            <td>{{s.address}}</td>
            <td>{{s.city}}</td>
            <td>{{s.state}}</td>
            <td>{{s.postalCode}}</td>
            <td>{{s.contact}}</td>
            <td>{{s.phone}}</td>
            <td>{{s.email}}</td>
            <td>{{s.service}}</td>
            <td>{{s.noOfItems}}</td>
            <td>{{s.description}}</td>
            <td>{{s.goodsValue}}</td>
            <td>{{s.customValue}}</td>
            <td>{{s.weight}}</td>
            <td>{{s.weightUnit}}</td>
            <td>{{s.cubicWeight}}</td>
            <td>{{s.codAmount}}</td>
            <td>{{s.currency}}</td> -->
        </tr>
        <!-- and so on... -->
    </tbody>
</table>
</div>