
<div class="navbar-item">
    <div><button value="">Create shipment</button></div>
    <div><button value="">Delete Shipment</button></div>
    <div><button value="">Create 3rd Party Shipment</button></div>
    <div><button value="">Delete 3rd Party Shipment</button></div>
    <div><button value="">Shipment List</button></div>
    <div><button value="">Shipment Batch Upload</button></div>
    <div><button value="">Update Shipment</button></div>
    <div><button value="">Download Template Excel (xls) </button></div>
</div>