<div class="menubar-container">
    <div class="elm1"> <input type="button" class="btn bg-color-indigo text-color-white" value="Shipping" (click)="onClick('Shipping')"> </div>
    <div> <input type="button" class="btn bg-color-indigo text-color-white" value="Tracking" (click)="onClick('Tracking')"></div>
    <div> <input type="button" class="btn bg-color-indigo text-color-white" value="Reporting" (clock)="onClick('Reporting')"></div>
    <div> <input type="button" class="btn bg-color-indigo text-color-white" value="Accounting" (click)="onClick('Accounting')"></div>
    <div> <input type="button" class="btn bg-color-indigo text-color-white" value="Contact Us" (click)="onClick('ContactUs')"></div>
</div>