
<form [formGroup]="multipleTrackingShipmentForm" (ngSubmit)="onSubmit()" class="subcontainer">
<div class="heading">
    <u><i><label>Multiple Tracking Shipment</label></i></u>
</div>
<div><label >Tracking /ALT REF No. </label></div>
<div><textarea rows="5" type="text" class="content-item " formControlName="trackingNo" value=""></textarea></div>

<div></div>
<div></div>
<div><label>Sender Reference No </label></div>
<div><textarea rows="5" type="text" class="content-item " formControlName="senderRefNo" value=""></textarea></div>

<div></div>
<div></div>
<div class="content-item btn-default ml-10">
    <button type="submit">Submit</button>
</div>
<div class="content-item btn-default w-50">
    <button type="reset">Clear Contents</button>
</div>	
</form>

<app-display-multiple-awb *ngIf="showComponent===true"></app-display-multiple-awb>