<div class="heading">
    <u><i><label>Shipment Bill Number</label></i></u>
</div>
<div><label >Shipment Number </label></div>
<div><input type="text" class="content-item bg-color-yellow" name="shipmentNo" value="" required></div>
<div><label>Autogenerate </label><input type="checkbox" class="content-item " name="autogenerate" value=""></div>
<div></div>
<div><label>ALT REF Number </label></div>
<div><input type="text" class="content-item " name="altRefNo" value="" required></div>
<div><button name="altRefNo" value="Retrieve by ALTREF Number">Retrieve By ALT. REF</button></div>
      
<div class="heading">
    <u><i><label>Sender Information</label></i></u>
</div>
<div><label>BillTo </label></div>
<div><input type="text" class="content-item bg-color-yellow" name="billTo" value="" required></div>
<div><label>Name </label></div>
<div><input type="text" class="content-item bg-color-yellow" name="name" value=""></div>
<div><label>Country </label></div>
<div><select class="content-item bg-color-yellow" name="country" value="">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </select></div>
<div><label>Address </label></div>
<div><textarea type="text" class="content-item bg-color-yellow" name="address" value=""></textarea></div>
<div><label>City/Town </label></div>
<div><input type="text" class="content-item bg-color-yellow" name="city" value=""></div>
<div><label>State </label></div>
<div><input type="text" class="content-item " name="state" value=""></div>
<div><label>Postal Code </label></div>
<div><input type="text" class="content-item " name="postalCode" value=""></div>
<div><label>Contact </label></div>
<div><input type="tel" class="content-item bg-color-yellow" name="contact" value=""></div>
<div><label>Phone </label></div>
<div><input type="tel" class="content-item bg-color-yellow" name="phone" value=""></div>
<div><label>E-Mail </label></div>
<div><input type="email" class="content-item " name="email" value=""></div>
<div><label>Receiving Country Tax ID </label></div>
<div><input type="text" class="content-item " name="recvCountryTaxId" value=""></div>
<div class="heading">
    <u><i><label>Shipping Information</label></i></u>
</div>
<div><label>Service </label></div>
<div><select class="content-item bg-color-yellow" name="service" value="">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    </select></div>
<div><label>Number of Items </label></div>
<div><input type="text" class="content-item bg-color-yellow" name="noOfItems" value=""></div>
<div><label>Description </label></div>
<div><textarea type="text" class="content-item bg-color-yellow" name="description" value=""></textarea></div>
<div><label>Harmonized Code </label></div>
<div><input type="text" class="content-item " name="harmonizedCode" value=""></div>
<div><label>Weight </label></div>
<div><input type="text" class="content-item " name="weight" value=""></div>
<div><label>Weight Unit </label></div>
<div><select class="content-item bg-color-yellow" name="weightUnit" value="">
        <option>KG</option>
        <option>Gram</option>
    </select></div>
<div><label>Cubic Weight(LxBxW) in KG </label></div>
<div><input type="text" class="content-item bg-color-yellow" name="cubicWeight" value=""></div>
<div><label>COD </label></div>
<div><input type="text" class="content-item " name="codAmount" value=""></div>
<div><label>Currency </label></div>
<div><select class="content-item bg-color-yellow" name="recvCountryTaxId" value="">
        <option>1</option>
        <option>2</option>
    </select></div>
<div class="heading">
    <u><i><label>Receiver Information</label></i></u>
</div>
<div><label>Name </label></div>
<div><input type="text" class="content-item bg-color-yellow" name="name" value=""></div>
<div><label>Country </label></div>
<div><select class="content-item bg-color-yellow" name="country" value="">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select></div>
<div><label>Address </label></div>
<div><textarea type="text" class="content-item bg-color-yellow" name="address" value=""></textarea></div>
<div><label>City/Town </label></div>
<div><input type="text" class="content-item bg-color-yellow" name="city" value=""></div>
<div><label>State </label></div>
<div><input type="text" class="content-item " name="state" value=""></div>
<div><label>Postal Code </label></div>
<div><input type="text" class="content-item " name="postalCode" value=""></div>
<div><label>Contact </label></div>
<div><input type="tel" class="content-item bg-color-yellow" name="contact" value=""></div>
<div><label>Phone </label></div>
<div><input type="tel" class="content-item bg-color-yellow" name="phone" value=""></div>
<div><label>E-Mail </label></div>
<div><input type="email" class="content-item " name="email" value=""></div>
       
<div class="content-item btn-default">
    <button type="submit">Submit</button>
</div>
<div class="content-item btn-default w-50">
    <button type="reset">Clear Contents</button>
</div>	