<form [formGroup]="shipmentForm" (ngSubmit)="onSubmit()" class="subcontainer">
<div class="heading">
    <u><i><label>Shipment Bill Number</label></i></u>
</div>
<div><label >Shipment Number </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="shipmentNo" value="" required></div>
<div><label>Autogenerate </label><input type="checkbox" class="content-item " formControlName="autogenerate" value="" (click)= "onCheckboxSelect()"></div>
<div></div>
<div><label>ALT REF Number </label></div>
<div><input type="text" class="content-item " style="width:50%" formControlName="altRefNo" value="" required><a class="ml-10" (click)="getShipmentInfoByAltRefNo()"> Retrieve</a></div>

<div class="heading">
    <u><i><label>Sender Information</label></i></u>
</div>
<div><label>Address Book</label></div>
<div><select class="content-item bg-color-white" formControlName="addressBook" (change)="onChangeAccountCode()">
    <option *ngFor="let _ab of accountCodeList" [value]="_ab.accountCode">{{_ab.accountCode}} - {{_ab.name}} </option>
    </select></div>
<div><label>Reference Number </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="referenceNo" value="" required></div>
<div><label>Account Code </label></div>
<div><input type="text" class="content-item bg-color-yellow " style="width:50%" formControlName="accountCode" value="" required><a class="ml-10" (click)="getSenderInfo()" >Retrieve</a></div>
<div><label>Company/Corporate Name </label></div>
<div><input type="text" class="content-item " formControlName="coName" value=""></div>
<div><label>Name </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="name" value=""></div>
<div><label>Country </label></div>
<div><select class="content-item bg-color-yellow" formControlName="country">
    <option *ngFor="let _country of CountryNames" [value]="_country">{{_country}}</option>
    </select></div>
<div><label>Address </label></div>
<div><textarea rows="2" type="text" class="content-item bg-color-yellow" formControlName="address" value=""></textarea></div>
<div><label>City/Town </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="city" value=""></div>
<div><label>State </label></div>
<div><input type="text" class="content-item " formControlName="state" value=""></div>
<div><label>Postal Code </label></div>
<div><input type="text" class="content-item " formControlName="postalCode" value=""></div>
<div><label>Contact </label></div>
<div><input type="tel" class="content-item bg-color-yellow" formControlName="contact" value=""></div>
<div><label>Phone </label></div>
<div><input type="tel" class="content-item bg-color-yellow" formControlName="phone" value=""></div>
<div><label>E-Mail </label></div>
<div><input type="email" class="content-item " formControlName="email" value=""></div>
<div><label>Receiving Country Tax ID </label></div>
<div><input type="text" class="content-item " formControlName="recvCountryTaxId" value=""></div>
<div class="heading">
    <u><i><label>Shipment Information</label></i></u>
</div>
<div><label>SKU </label></div>
<div><input type="text" class="content-item " formControlName="sku" value=""></div>
<div><label>Service </label></div>
<div><select class="content-item bg-color-yellow" formControlName="service" value="">
    <option *ngFor="let _svc of ServiceTypes" [value]="_svc">{{_svc}}</option>
    </select></div>
<div><label>Number of Items </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="noOfItems" value="1"></div>
<div><label>Description </label></div>
<div><textarea rows="2" type="text" class="content-item bg-color-yellow" formControlName="description" value=""></textarea></div>
<div><label>Goods Value </label></div>
<div><input type="text" class="content-item " formControlName="goodsValue" value=""></div>
<div><label>Custom Value </label></div>
<div><input type="text" class="content-item " formControlName="customValue" value=""></div>
<div><label>Weight </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="weight" value=""></div>
<div><label>Weight Unit </label></div>
<div><select class="content-item bg-color-yellow" formControlName="weightUnit">
        <option value="KG" selected>KG</option>
        <option value="gram">Gram</option>
    </select></div>
<div><label>Cubic Weight(LxWxH) </label></div>
<div><input type="text" class="content-item " formControlName="cubicWeight" value=""></div>
<div><label>COD </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="codAmount" value=""></div>
<div><label>VAT. </label></div>
<div><input type="text" class="content-item " formControlName="vat" value=""></div>
<div><label>Currency </label></div>
<div><select class="content-item bg-color-yellow" formControlName="currency" value="">
        <option *ngFor="let _currency of CurrencyList" [value]="_currency">{{_currency}}</option>
    </select></div>
<div class="heading">
    <u><i><label>Receiver Information</label></i></u>
</div>
<div><label>Name </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="receiverName" value=""></div>
<div><label>Country </label></div>
<div><select class="content-item bg-color-yellow" formControlName="receiverCountry" value="">
        <option *ngFor="let _country of CountryNames" [value]="_country">{{_country}}</option>
    </select></div>
<div><label>Address </label></div>
<div><textarea rows="2" type="text" class="content-item bg-color-yellow" formControlName="receiverAddress" value=""></textarea></div>
<div><label>City/Town </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="receiverCity" value=""></div>
<div><label>State </label></div>
<div><input type="text" class="content-item " formControlName="receiverState" value=""></div>
<div><label>Postal Code </label></div>
<div><input type="text" class="content-item " formControlName="receiverPostalCode" value=""></div>
<div><label>Contact </label></div>
<div><input type="tel" class="content-item bg-color-yellow" formControlName="receiverContact" value=""></div>
<div><label>Phone </label></div>
<div><input type="tel" class="content-item bg-color-yellow" formControlName="receiverPhone" value=""></div>
<div><label>E-Mail </label></div>
<div><input type="email" class="content-item " formControlName="receiverEmail" value=""></div>
<div></div> 
<div></div> 
<div class="content-item btn-default ml-10">
    <button type="submit">Submit</button>
</div>
<div class="content-item btn-default w-50">
    <button type="reset">Clear Contents</button>
</div>	
</form>