<form [formGroup]="singleTrackingShipmentForm" (ngSubmit)="onSubmit()" class="subcontainer">
<div class="heading">
    <u><i><label>Single Tracking Shipment</label></i></u>
</div>
<div><label >Tracking No. </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="trackingNo" value=""></div>
<div><label>ALT. REF. No </label></div>
<div><input type="text" class="content-item bg-color-yellow" formControlName="altRefNo" value=""></div>
<div class="content-item btn-default ml-10">
    <button type="submit">Submit</button>
</div>
<div class="content-item btn-default w-50">
    <button type="reset">Clear Contents</button>
</div>	
</form>