<form [formGroup]="singleTrackingShipmentForm" (ngSubmit)="onSubmit()" class="subcontainer">
<div class="heading">
    <u><i><label>Single Tracking Shipment</label></i></u>
</div>
<div><label >Tracking / ALT REF No. </label></div>
<div><input type="text" class="content-item " formControlName="trackingNo" value=""></div>
<div></div>
<div></div>
<div><label>Sender Reference No </label></div>
<div><input type="text" class="content-item" formControlName="senderRefNo" value=""></div>
<div></div>
<div></div>
<div class="content-item btn-default ml-10">
    <button type="submit">Submit</button>
</div>
<div class="content-item btn-default w-50">
    <button (click)="onReset()">Clear Contents</button>
</div>	
</form>


<app-display-result *ngIf="displayResult === 'True'"></app-display-result>