.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.container {
    display: grid;
    /* value shall be track size */
    grid-template-columns: [col-one] 250px [col-two] 300px [col-three] 250px [col-four] 250px [col-end] auto;
    
    /* row column*/
    gap: 10px 15px;
    align-content: space-around;
    /* possible values are column/row/dense */
    grid-auto-flow: row;
    /* align item vertically within a cell */
    align-items: start;
    /* place item horizontally within a cell */
    place-items:start;
    
  }
.subcontainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: [col-one] 250px [col-two] 300px ;
}
  .item {
    box-shadow: 1px 2px 3px grey;
    border-radius: 8px;
  }
  .item-col1 {
      grid-column: col-one/col-two;
      background-color: antiquewhite;
  }
  .item-col2 {
      grid-column: col-two/col-three;
      background-color: antiquewhite;
  }
  .item-col3 {
      grid-column: col-three/col-four;
      background-color: antiquewhite;
  }
  .item-col4 {
      grid-column: col-four/col-end;
      background-color: antiquewhite;
  }