.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.container {
    display: grid;
    /* value shall be track size */
    grid-template-columns: [col-one] 250px [col-two] 300px [col-three] 250px [col-four] 250px [col-end] auto;
    
    /* row column*/
    gap: 10px 15px;
    align-content: space-around;
    /* possible values are column/row/dense */
    grid-auto-flow: row;
    /* align item vertically within a cell */
    align-items: start;
    /* place item horizontally within a cell */
    place-items:start;
    
  }

.subcontainer-left {
    //position: relative;
    display: grid;
    gap:5px;
    //grid-auto-flow: column;
    grid-column: col-one/col-three;
    grid-template-columns: [col-one] 150px [col-two] 300px ;
    //grid-template-rows: [row-one] 500px;
}
.subcontainer-right {
    display: grid;
    grid-auto-flow: column;
    grid-column: col-three/col-end;
    //grid-template-columns: [col-one] 250px [col-two] 300px ;
    grid-template-columns: subgrid ;
}
  .item {
      
    box-shadow: 1px 2px 3px grey;
    border-radius: 50px;
  }
  .item-col1 {
      grid-column: col-one/col-two;
  }
  .item-col2 {
      grid-column: col-two/col-three;
  }
  .item-col3 {
      grid-column: col-one/col-two;
      background-color: antiquewhite;
  }
  .item-col4 {
      grid-column: col-two/col-three;
      background-color: antiquewhite;
  }


  li {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    background: dodgerblue;
    margin: 0 1em;
    display: inline-block;
    color: white;
    position: relative;
  }
  
  li::before{
    content: '';
    position: absolute;
    top: .9em;
    left: -4em;
    width: 4em;
    height: .2em;
    background: dodgerblue;
    z-index: -1;
  }
  
  
  li:first-child::before {
    display: none;
  }
  
  .active {
    background: dodgerblue;
  }
  
  .active ~ li {
    background: lightblue;
  }
  
  .active ~ li::before {
    background: lightblue;
  }
 
  
  .table-container {
    border: 2px solid black;
    width: 500px;
    margin-bottom:10px;
    inset:auto;
}

td {
    border: none;
}