<form [formGroup]="shipmentBatchUploadForm" (ngSubmit)="onSubmit()" class="subcontainer">
<div class="heading">
    <u><i><label>Shipment Batch Upload</label></i></u>
</div>
<div><label >Select File to be Uploaded </label></div>
<div><input type="file" class="content-item bg-color-yellow" formControlName="batchUpload" value="" required></div>
<div></div>      
<div></div>      
<div class="content-item btn-default ml-10">
    <button type="submit">Submit</button>
</div>
<div class="content-item btn-default w-50">
    <button type="reset">Clear Contents</button>
</div>	
</form>